<%= form_tag sessions_path, class: 'pure-form pure-form-aligned', id: 'login-form' do %>
  <fieldset>
    <%= text_field_tag :email, params[:email], placeholder: 'Email' %>
    <%= password_field_tag :password, params[:password], placeholder: 'Password' %>

    <label>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    Remember me
    </label>

    <%= submit_tag 'Log in', :class => 'pure-button pure-button-primary' %>
  </fieldset>
<% end %>

