<%= form_for :article, {url: @article.new_record? ? admin_articles_path : admin_article_path(@article.id), html: {class: 'pure-form pure-form-stacked', method: @article.new_record? ? :post : :patch}} do |f| %>
  <fieldset>
    <legend><%= @legend %></legend>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'pure-input-1' %>
    <br />

    <%= f.label :text %>
    <%= f.text_area :text, class: 'pure-input-1', rows: '20' %>
    <br />

    <label for="article_published" class="pure-checkbox">
      <%= f.check_box 'published', {checked: @article.published}, 1, 0 %> Published
    </label>

    <%= f.submit 'Post', class: 'pure-button pure-button-primary' %>
  </fieldset>
<% end %>
